@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* poetry */
[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br,
[epub|type~="z3998:poem"] p > span + br{
	display: none;
}
/* end poetry */

/* all epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] em{
	font-style: normal;
}

[epub|type~="epigraph"] cite{
	font-style: normal;
	font-variant: small-caps;
	margin-top: 1em;
}
/* end all epigraphs */

/* full-page epigraphs */
section[epub|type~="epigraph"]{
	text-align: center;
}

section[epub|type~="epigraph"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
	text-align: initial;
}

@supports(display: flex){
	section[epub|type~="epigraph"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="epigraph"] > *{
		margin: 0;
	}
}
/* end full-page epigraphs */

/* footer and signature */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* end footer and signature */

/* figure */
figure{
	break-inside: avoid;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figcaption{
	font-size: .75em;
	font-style: italic;
	margin: 1em;
}

figure.full-page{
	break-after: page;
	break-before: page;
	margin: 0;
	max-height: 100vh;
	text-align: center;
}

@supports(display: flex){
	figure.full-page{
		display: flex;
		flex-direction: column;
	}

	figure.full-page img{
		height: 100vh;
		object-fit: contain;
	}
}
/* end figure */

/* general table formatting */
table{
	border-collapse: collapse;
	margin: 1em auto;
}

table tr:first-child th{
	padding: 0 0 0.5em 0;
}
/* end general table formatting */

/* roman numbered list */
#chapter-25 ol{
	list-style-type: upper-roman;
}
/* end roman numbered list */

/* chapter 6 table */
#chapter-6 table th{
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-top: 1px solid;
}

#chapter-6 table td + td{
	border-left: 1px solid;
	text-align: center;
	width: 10%;
}

#chapter-6 tbody tr + tr td + td{
	font-variant-numeric: tabular-nums;
	text-align: right;
}

#chapter-6 tbody tr:nth-child(1),
#chapter-6 tbody tr:nth-child(3),
#chapter-6 tbody tr:nth-child(4){
	border-bottom: 1px solid;
}
/* end chapter 6 table */

/* chapter 13 table */
#chapter-13 thead tr:last-child td:first-child,
#chapter-13 th:first-child,
#chapter-13 tr:last-child td:nth-child(3),
#chapter-13 tr:nth-of-type(-n+11) td:nth-child(5){
	border-right: 1px solid;
}

#chapter-13 thead td{
	text-align: right;
}

#chapter-13 tbody td:nth-child(5),
#chapter-13 tbody td:last-child,
#chapter-13 tbody tr:last-child td:nth-child(3){
	font-variant-numeric: tabular-nums;
	text-align: right;
}

#chapter-13 thead tr + tr td:first-child,
#chapter-13 tbody td:nth-child(5),
#chapter-13 tbody tr:last-child td:nth-child(3){
	padding-right: .5em;
}

#chapter-13 tbody td:nth-child(6),
#chapter-13 tbody tr:last-child td:nth-child(3),
#chapter-13 tbody tr:last-child td:nth-child(4){
	padding-left: .5em;
}
/* end chapter 13 table */

/* appendix tables */
#appendix th:first-child{
	text-align: initial;
}

#appendix > table:nth-of-type(2) th,
#appendix th + th{
	padding-left: 1em;
	text-align: right;
}

#appendix caption,
#appendix thead tr{
	border-bottom: 1px solid;
}

#appendix th{
	font-variant: small-caps;
	font-weight: normal;
}

#appendix table td + td,
#appendix > table:nth-of-type(2) td{
	font-variant-numeric: tabular-nums;
	padding-left: 1em;
	text-align: right;
}

#appendix-2 table:nth-of-type(3) td + td{
	text-align: right;
}

#appendix-2 table:nth-of-type(3) thead tr{
	border-bottom: 1px solid;
	border-top: 1px solid;
}

#appendix-2 table:nth-of-type(3) tbody tr:last-of-type{
	border-bottom: 1px solid;
}
/* end appendix tables */

/* appendix headers */
#appendix header{
	font-variant: small-caps;
	margin-top: 2em;
}

#appendix header + *{
	margin-top: 1em;
}
/* end appendix headers */
